<div class="card">
    <h3 class="card-header">Signup</h3>
    <form class="card-body" id="signup-form">
        <label for="username-signup" class="form-label">Username</label>
        <input class="form-input" id="username-signup" type="text" />

        <label class="form-label" for="password-signup">Password</label>
        <input class="form-input" id="password-signup" type="password" />

        <button class="btn" type="submit">Signup</button>
        <a class="login-link" href="../public/js/login.js">Login Instead</a>
    </form>
</div>

<script src="../public/js/signup.js"></script>